# Use these values for standalone:
VALKEY_MODE=standalone
VALKEY_ADDRESSES=standalone:6379

# To use the cluster, replace the two lines above with:
# VALKEY_MODE=cluster
# VALKEY_ADDRESSES=cluster-node-1:6379,cluster-node-2:6379,cluster-node-3:6379

VALKEY_MESSAGE=hello from GLIDE
